[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
streamlit = "*"
pinecone-client = "*"
langchain-pinecone = "*"
wandb = "*"
chromadb = "==0.3.29"
transformers = "*"
torch = "*"

[dev-packages]
pydantic = "*"

[requires]
python_version = "3.10"
