[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
chromadb = "==0.3.29"
wandb = "*"
streamlit = "*"
pysqlite3-binary = "*"
pinecone-client = "*"
pypandoc-binary = "*"
sagemaker = "*"
huggingface-hub = "*"
langchain-pinecone = "*"

[dev-packages]
lark = "*"
unstructured = {extras = ["all-docs"], version = "*"}
pydantic = "*"
pypandoc = "*"
pandoc = "*"

[requires]
python_version = "3.10"
